<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex flex-col">
    <%- include('sidebar') %>
    <div>
      <h>Create Category</h>
      <div>
        <form method="post" action="">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            minlength="4"
            maxlength="60"
            value="<%= category ? category.name : '' %>"
          />

          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            minlength="4"
            maxlength="500"
            value="<%= category ? category.description : '' %>"
          />

          <button type="submit">
            <%= category ? 'Modify category' : 'Create category' %>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
