<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex bg-zinc-700 text-white">
    <%- include('sidebar') %>
    <div>
      <div>
        <h><%= category.name %></h>
        <p><%= category.description %></p>
        <p>Here are all products in the <%= category.name %> category:</p>
        <ul>
          <% categoryItems.forEach(function(item) { %>
            <li>
              <a href='/products/<%= item.id %>'><%= item.name %></a>
            </li>
          <% }) %>
        </ul>
      </div>
      <%- include('updateDeleteButtons', { type: 'Category', id: category.id }) %>
    </div>
  </body>
</html>
