<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex bg-zinc-700 text-white m-4">
    <%- include('sidebar') %>
    <div>
      <h>Create Category</h>
      <div>
        <form method="post" action="">
          <div class="my-3">
            <label for="name">Name:</label>
            <input
              class="rounded-md text-black px-1"
              type="text"
              id="name"
              name="name"
              minlength="4"
              maxlength="60"
              value="<%= category ? category.name : '' %>"
            />
          </div>

          <div class="my-3">
            <label for="description">Description:</label>
            <input
              class="rounded-md text-black px-1"
              type="text"
              id="description"
              name="description"
              minlength="4"
              maxlength="500"
              value="<%= category ? category.description : '' %>"
            />
          </div>

          <button class="bg-green-500 rounded-md p-3" type="submit">
            <%= category ? 'Modify category' : 'Create category' %>
          </button>
        </form>
        <div>
          <% if (errors) { errors.forEach(function(err) { %>
            <p class="text-red-500"><%= err.msg %></p>
          <% })} %>
        </div>
      </div>
    </div>
  </body>
</html>
