<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex flex-col">
    <%- include('sidebar') %>
    <div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div>
        <p>Current Inventory Stats</p>
        <p>Products: <%= itemsCount %></p>
        <p>Products in stock: <%= itemsInStockCount %></p>
        <p>Products out of stock count: <%= itemsOutOfStockCount %></p>
        <p>Categories: <%= categoriesCount %></p>
      </div>
    </div>
  </body>
</html>
