<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex bg-zinc-700 text-white m-4">
    <%- include('sidebar') %>
    <div>
      <div>
        <p><%= item.name %></p>
        <p><%= item.description %></p>
        <p>Price: $<%= item.price %></p>
        <p>Number in stock: <%= item.numberInStock %></p>
        <p>Category:
          <ul>
            <% item.category.forEach(function(category) { %>
              <li>
                <a href='/category/<%= category.id %>'><%= category.name %></a>
              </li>
            <% }) %>
          </ul>
        </p>
      </div>
    <%- include('updateDeleteButtons', { type: 'Product', id: item.id }) %>
    </div>
  </body>
</html>
