<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex flex-col">
    <%- include('sidebar') %>
    <div>
      <h>Create Product</h>
      <div>
        <form method="post" action="">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            minlength="4"
            maxlength="100"
            value="<%= item ? item.name : '' %>"
          />

          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            minlength="10"
            maxlength="500"
            value="<%= item ? item.description : '' %>"
          />

          <label for="price">Price:</label>
          <input 
            type="number" 
            id="price" 
            name="price" 
            step="0.01"
            value="<%= item ? item.price : '' %>"
          />

          <label for="numberInStock">Number in stock:</label>
          <input 
            type="number" 
            id="numberInStock" 
            name="numberInStock" 
            value="<%= item ? item.numberInStock : '' %>"
          />
          
          <p>Category:</p>
          <% categories.forEach(function(category) { %>
            <label for="<%= category.name %>"><%= category.name %></label>
            <input 
              type="checkbox" 
              id="<%= category.name %>" 
              name="category" 
              value="<%= category._id %>"
              <%= category.checked ? 'checked' : null %> />
          <% }); %>

          <button type="submit">
            <%= item ? 'Modify item' : 'Create item' %>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
