<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex bg-zinc-700 text-white">
    <%- include('sidebar') %>
    <div>
      <h1><%= title %></h1>
      <div class="grid grid-cols-4 gap-1">
        <% itemList.forEach(function(item) { %>
            <div class="prod-list border-neutral-300 p-2 border"><a class="block w-full text-center" href='/products/<%= item.id %>'><%= item.name %></a></div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
